.table-auto th {
  font-size: 11px;
}

.table-auto td {
  font-size: 10px;
}

tbody td {
  min-width: 140px;
  min-height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #000;
  vertical-align: top;
  text-align: top;
}

table {
  margin: 0 auto;
  width: 100%;
}

td:empty {
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.table-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
  margin-bottom: 8px;
}

.table-image-cell {
  vertical-align: top;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}





