amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
channels==4.3.2
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==5.1.15
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-filter==24.3
django-js-asset==3.1.2
django-mptt==0.18.0
django-timezone-field==7.2.2
django_celery_results==2.6.0
djangorestframework==3.17.1
djangorestframework-recursive==0.1.2
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
et_xmlfile==2.0.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
lxml==6.1.1
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.0.3
pytest-django==4.12.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
PyYAML==6.0.3
referencing==0.37.0
pypdf==6.16.1
reportlab==4.5.1
rpds-py==2026.5.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.8.1
